{% extends "base.html" %}
{% block title %}All Plants{% endblock %}
{% block content %}
    <h1>Find Your Plant!</h1>

    <div class ="searchbar">
      <form action="/search" method="post">
        <input type="text" name="search_query" placeholder="Enter search query">
        <input type="submit" value="Search">
      </form>
    </div>
<body class=all_plants_page>
    <div class="grid-container">
        {% for plant in data %}
        <div class="thumbnail">
          <img src="{{plant['image']}}" class = "image"/> <br>
        <a href="/plants/{{plant['plant_id']}}"> {{plant["common_name"]}} </a> <br>
        <p class="sc_name">{{plant['scientific_name']}}</p>
        </div>
        {% endfor %}
    </div>


</body>
{% endblock %}