{% extends "base.html" %} 
{% block title %}All Plants{% endblock %} 

{% block content %}
<h1>Find Your Plant!</h1>

<div class="plants_form">
  <form action="/search" method="post">
    <input class = "plants_input" type="text" name="search_query" placeholder="Enter search query" />
    <input type="submit" value="Search" />
  </form>
</div>
<body class="all_plants_page">
  <div class="grid-container">
    {% for plant in data %}
    <div class="thumbnail">
      <img src="{{ plant['image'] }}" class="image" /> <br />
      <a href="/plants/{{ plant['plant_id'] }}"> {{ plant['common_name'] }} </a>
      <br />
      <p class="sc_name">{{ plant['scientific_name'] }}</p>
      {% if plant['plant_id'] in collection_plant_ids %}
      <p class="in_collection">In your collection</p>
      {% else %}
      <form action="/add_to_collection" method="POST">
        <input type="hidden" name="plant_id" value="{{ plant['plant_id'] }}" />

        <input type="submit" class="bttn" value="Add to Collection" />
      </form>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  {% endblock %}
</body>
