{% extends "base.html" %}
{% block title %}Collection{% endblock %}
{% block content %}
    <div class="grid-container">
        {% for plant in data %}
        <div class="thumbnail">
          <img src="{{plant['image']}}" class = "image"/> <br>
        <a href="/plants/{{plant['plant_id']}}"> {{plant["common_name"]}} </a> <br>
        <p>{{plant['scientific_name']}} <br>
            Next Care Action: {{plant["upcoming_care"]}}
        </p>
        </div>
        {% endfor %}
    </div>
  
{% endblock %}