{% extends "base.html" %}
{% block title %}Home{% endblock %}
    {% block content %}
        <!--   images thumbnails -->
        <div class="images-container">
            <div class="thumbnail">
                <img src="https://images.pexels.com/photos/2292100/pexels-photo-2292100.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image 1">
            </div>
            <div class="thumbnail">
                <img src="https://images.pexels.com/photos/11177966/pexels-photo-11177966.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image 2">
            </div>
            <div class="thumbnail">
                <img src="https://images.pexels.com/photos/6349701/pexels-photo-6349701.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image 3">
            </div>
        </div>

        <div class="text-box">
            <h2>Plant Care</h2>
            <p>Find out all your plant care in one place.</p>
        </div>
    {% endblock %}
