{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block content%}

<form
  style="max-width: 350px; margin: 10%"
  name="myform"
  action="{{ url_for('login') }}"
  method="post"
>
  <h1>Login</h1>
  {% if error %}
  <p>{{ error }}</p>
  {% endif %}
  <div>
    <label for="email">Email</label>
    <input
      type="text"
      id="email"
      class="form control"
      placeholder="Email"
      name="email"
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form control"
      placeholder="Password"
    />
  </div>
  <div class="sbttn">
    <button class = "user_form_button" type="submit" class="btn btn-success">Login</button>
  </div>

  <p>
    <br/>
    Don't have an account yet? <a href="{{ url_for('signup') }}"> Signup!</a>
  </p>
</form>
{% endblock %}>
