{% extends "base.html" %}
{% block title %}Sign in{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">   
{% endblock %}

{% block content %}
        
        <form style="max-width:350px;margin: 10%;" name= "myform" action="{{url_for('login') }}" method="post"  >
            <h1 class="h3 mb-3">Sign in</h1>
            {% if error %}
                <p>{{error}}</p>
            {% endif %}       
           <div >
              <label for="email">Email</label>
               <input type="text" id="email"  class="form control" placeholder="Email" name="email" />
           </div>
           <div class="form-outline mb-2">
             <label for="password">Password</label>
             <input type="password"  id="password" name="password" class="form control" placeholder="Password" 
           >
          </div> 
          <div class = "sbttn">
              <button type ="submit" class="btn btn-success">Login</button>
           </div>
      
       <p class=><br> Don't have an account yet? <a href="{{url_for('signup') }}"> Signup!</a></p>
    </form>
    </div>
{% endblock %}>
