{% extends "base.html" %} 
{% block title %}{{ common_name }}{% endblock %} 
{% block content %}
<h1>{{ common_name }}</h1>

<div class = "plant"><img src="{{ image }}" width="450" class="image" />
<div class="plant_text_box">
  <p>{{ plant_description }}</p>
    <li>Common name: {{ common_name }}</li>
    <li>Scientific name: {{ scientific_name }}</li>
    <li>Maintenance rating: {{ maintenance_level }}</li>
    <li>Growth rate: {{ growth_rate }}</li>
    <li>Watering frequecy: Every {{ watering_frequency }} days</li>
    <li>Light requirement: {{ light_level }}</li>
    {% if upcoming_care != None %}
    <p> Next watering: {{upcoming_care.strftime('%Y-%m-%d')}}</p>
    {% endif %}
</div>
</div>

{% endblock %}
