{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
{% endblock %}

{% block content %}
    <div >
        <form style="max-width:350px;margin:10%" name= "myform" action="{{url_for('signup') }}" method="post"  >
            <h1 class="h3 mb-3">Register</h1>
            {% if error %}
                <p>{{error}}</p>
            {% endif %}
            <div >
             <label for="firstname">First Name</label>
              <input type="text"  id="firstname" name="firstname" class="form control" placeholder="firstname" 
            >
            </div>
            <div class="form-outline mb-2">
              <label for="lastname">Last Name</label>
               <input type="text" id="lastname" class="form control" placeholder="lastname" 
              
                name="lastname" >
           </div>
           <div >
              <label for="email">Email</label>
               <input type="text" id="email"  class="form control" placeholder="Email" 
           
               name="email" />
           </div>
           <div class="form-outline mb-2">
             <label for="password">Password</label>
             <input type="password"  id="password" name="password" class="form control" placeholder="Password" 
           >
          </div> 
          <div class="form-outline mb-2">
            <label for="password2">Confirm Password</label>
            <input type="password"  id="password2" name="password2" class="form control" placeholder="Confirm Password" 
           />
         </div> 
          <div class = "sbttn">
              <button type ="submit" class="btn btn-success">Sign up</button>
           </div>
      
       <p class=>Already have an account?<a href="{{url_for('login') }}"> Sign in!</a></p>
    </form>
    {%if msg %}
        <p>{{msg}}</p>
    {%endif%}
    </div>
{% endblock %}
